
@font-face {
    font-family: 'HouschkaPro-bold';
    src: url(../fonts/HouschkaPro-Bold.woff2);
}
@font-face {
    font-family: 'HouschkaPro-Light';
    src: url(../fonts/HouschkaPro-Light.woff2);
}
@font-face {
    font-family: 'HouschkaPro-Thin';
    src: url(../fonts/HouschkaPro-Thin.woff2);
}

body {
    font-family: 'HouschkaPro';
    margin: 0 auto;
    width: 980px;
    height: 3000px;
    background: linear-gradient(to bottom, #B9D6EF 464px, white 464px 468px, #327dad 468px 477px, #266b97 477px);
}
.cs {
    width: 980px;
    height: 800px;
    position: relative;
 }
 .cloud {
     /* position: absolute; */
     width: 980px;
     height: 62px;
 }
.sky {
    /* position: absolute; */
    display: block;
    margin: 33px auto;
}

.title {
    font-family: 'HouschkaPro-bold';
    display: block;
    color: white;
    font-size: 71px;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 1px #9da0a3;
    text-align: center;
    height: 76px;
    font-weight: 700;
    padding-left: 24px;
}
.subtitle {
    font-family: 'HouschkaPro-bold';
    display: block;
    color: #263ba8;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    /* padding-right: 1px; */
    letter-spacing: -0.8px;
}
.search_button {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
.button {
    font-family: 'HouschkaPro-Light';
    color: #ffffff;    
    border: solid #f7ab19 1px;
    background:  linear-gradient(0deg, rgba(248,164,38,1) 0%, rgba(251,199,66,1) 100%);
    border-radius: 5px;
    padding: 10px; 
    width: 91px;
    margin: 6px;
    font-size: 13px;
    text-align: left;
}
input{
    font-family: 'HouschkaPro-Light';
    width: 239px;
    letter-spacing: -1.4px;
    margin: 5px;
    padding-left: 13px;
    padding-top: 3px;
    border: 0px;
}
.mdl {
    width: 980px;
    height: 13px;
    top: 58%;
    z-index: 1;
    position: absolute;
}
.mdw {
    width: 980px;
    height: 4px;
    top: 58%;
    z-index: 2;
    position: absolute;
}
.ice {
   top: -195px;
   left: 325px;
   position: absolute;
   z-index: 3;
}
.ship {
    top: 451px;
    left: 301px;
    position: absolute;
    z-index: 4;
}
.sea {
    width: 980px;
    height: 325px;
    bottom: 0px;
    position: absolute;
}
.rectangle {
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: #266b97;
    opacity: .9;
    left: 280px;
    z-index: 6;
    margin-top: 2px;
}
.circles {
    z-index: 7;
    position: absolute;
    display: flex;
    font-weight: 600;
    padding-top: 34px;
    padding-left: 45px;
}
.m, .d, .h {
    font-family: 'HouschkaPro-Light';
    color: #025b8f;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #b9d6ef;
    text-align: center;
    font-size: 24px;
    line-height: 70px;
    margin: 20px;
}
.time {
    position: absolute;
    z-index: 7;
    display: flex;
    margin: 48px;
    width: 400px;
    font-size: 24px;
    padding-top: 62px;
    color: white;
}
.tm {
    font-family: 'HouschkaPro-bold';
    margin: 20px;
}